.history-video-wrapper {
  display: flex;
  padding: 4rem;
  justify-content: flex-start;
}

.horizontal-card {
  background: var(--background-color);
  color: var(--white-color);
  height: fit-content;
  width: 55rem;
}

.horizontal-card-image {
  height: 10rem;
  text-align: start;
  width: 10%;
}

.card-content {
  align-items: flex-start;
  width: 100%;
}

.card-details {
  margin-top: 0;
  cursor: pointer;
}

.card-description {
  color: var(--light-color);
  font-size: 0.8rem;
  padding: 0.5rem;
}
.card-views {
  padding: 0.5rem;
  font-size: .6rem;
  color: var(--light-color);
}

.space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-btn{
    color: var(--secondary-color);
    font-size: 1.4rem;
}
