.likes-wrapper {
  display: flex;
  justify-content: center;
  padding: 1rem;
  text-align: center;
  margin-top: 1rem;
}

.starting-text {
  color: var(--white-color);
  text-align: center;
  font-size: 1.5rem;
}

.shadow-card {
  height: fit-content;
}
