:root {
  --primary-color: #1a202c;
  --secondary-color: #2196f3;
  --green-color: #38b2ac;
  --white-color: white;
  --grey-color: grey;
  --hover-color: #0b7dda;
  --shadow-color: #6e6e6e71;
  --black-color: #000000;
  --background-color: #0e0f14;
  --light-color:#b4b0b096;
}

.link{
  color: var(--white-color);
  text-decoration: none;
}
